.svgCustom {
    display: -ms-grid;
    display: grid;
    place-items: center;
}

#owner-hand,
#customer-hand,
#owner-mouth,
#customer-mouth,
#owner-eyebrows,
#customer-eyebrows,
#customer-credit-card,
#money-falling-1,
#money-falling-2,
#money-falling-3,
#money-falling-4,
#money-falling-5,
#money-falling-6,
#money-falling-7,
#coin-falling-1,
#coin-falling-2,
#coin-falling-3,
#coin-falling-4 {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    transform-box: fill-box;
}

#owner-hand,
#customer-hand,
#owner-eyebrows,
#customer-eyebrows,
#customer-credit-card{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}





#owner-hand {
    -webkit-animation-name: ownerhand;
            animation-name: ownerhand;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right;
}

@-webkit-keyframes ownerhand {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    }
}

@keyframes ownerhand {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
    }
}

#customer-hand {
    -webkit-animation-name: customerhand;
            animation-name: customerhand;
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
}

@-webkit-keyframes customerhand {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-12deg);
                transform: rotate(-12deg);
    }
}

@keyframes customerhand {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-12deg);
                transform: rotate(-12deg);
    }
}

#owner-mouth,
#customer-mouth {
    -webkit-animation-name: ownermouth;
            animation-name: ownermouth;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

#customer-mouth {
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
}

@-webkit-keyframes ownermouth {
    0% {
        -webkit-transform: scale(0.7, 1);
                transform: scale(0.7, 1);
    }

    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.7, 1);
                transform: scale(0.7, 1);
    }
}

@keyframes ownermouth {
    0% {
        -webkit-transform: scale(0.7, 1);
                transform: scale(0.7, 1);
    }

    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.7, 1);
                transform: scale(0.7, 1);
    }
}

#owner-eyebrows,
#customer-eyebrows {
    -webkit-animation-name: ownereyebrows;
            animation-name: ownereyebrows;
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
}

@-webkit-keyframes ownereyebrows {
    from {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }

    to {
        -webkit-transform: translateY(-2px);
                transform: translateY(-2px);
    }
}

@keyframes ownereyebrows {
    from {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }

    to {
        -webkit-transform: translateY(-2px);
                transform: translateY(-2px);
    }
}

#customer-credit-card {
    -webkit-animation-name: creditcard;
            animation-name: creditcard;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
}

@-webkit-keyframes creditcard {
    from {
        -webkit-transform: translate(0);
                transform: translate(0);
    }

    to {
        -webkit-transform: translate(-5px, -20px) rotate(5deg);
                transform: translate(-5px, -20px) rotate(5deg);
    }
}

@keyframes creditcard {
    from {
        -webkit-transform: translate(0);
                transform: translate(0);
    }

    to {
        -webkit-transform: translate(-5px, -20px) rotate(5deg);
                transform: translate(-5px, -20px) rotate(5deg);
    }
}

#money-falling-1,
#money-falling-2,
#money-falling-3,
#money-falling-4,
#money-falling-5,
#money-falling-6,
#money-falling-7,
#coin-falling-1,
#coin-falling-2,
#coin-falling-3,
#coin-falling-4 {
    -webkit-animation-name: moneyOneFalling;
            animation-name: moneyOneFalling;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    transform-box: fill-box;
}

#money-falling-2 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

#money-falling-3 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}

#money-falling-4 {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}

#money-falling-5 {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}

#money-falling-6 {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

#money-falling-7 {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
}

#coin-falling-1 {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}


#coin-falling-2 {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
}

#coin-falling-3 {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
}

#coin-falling-4 {
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}




@-webkit-keyframes moneyOneFalling {
    from {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(650px) rotate(90deg);
                transform: translateY(650px) rotate(90deg);
    }
}




@keyframes moneyOneFalling {
    from {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(650px) rotate(90deg);
                transform: translateY(650px) rotate(90deg);
    }
}