.svgCustom {
    display: grid;
    place-items: center;
}

#owner-hand,
#customer-hand,
#owner-mouth,
#customer-mouth,
#owner-eyebrows,
#customer-eyebrows,
#customer-credit-card,
#money-falling-1,
#money-falling-2,
#money-falling-3,
#money-falling-4,
#money-falling-5,
#money-falling-6,
#money-falling-7,
#coin-falling-1,
#coin-falling-2,
#coin-falling-3,
#coin-falling-4 {
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform-box: fill-box;
}

#owner-hand,
#customer-hand,
#owner-eyebrows,
#customer-eyebrows,
#customer-credit-card{
    animation-duration: 1s;
    animation-direction: alternate;
}





#owner-hand {
    animation-name: ownerhand;
    transform-origin: bottom right;
}

@keyframes ownerhand {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-10deg);
    }
}

#customer-hand {
    animation-name: customerhand;
    transform-origin: bottom left;
}

@keyframes customerhand {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-12deg);
    }
}

#owner-mouth,
#customer-mouth {
    animation-name: ownermouth;
    animation-duration: 2s;
    transform-origin: center;
}

#customer-mouth {
    animation-duration: 2.5s;
}

@keyframes ownermouth {
    0% {
        transform: scale(0.7, 1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.7, 1);
    }
}

#owner-eyebrows,
#customer-eyebrows {
    animation-name: ownereyebrows;
    transform-origin: top center;
}

@keyframes ownereyebrows {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-2px);
    }
}

#customer-credit-card {
    animation-name: creditcard;
    transform-origin: center;
}

@keyframes creditcard {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-5px, -20px) rotate(5deg);
    }
}

#money-falling-1,
#money-falling-2,
#money-falling-3,
#money-falling-4,
#money-falling-5,
#money-falling-6,
#money-falling-7,
#coin-falling-1,
#coin-falling-2,
#coin-falling-3,
#coin-falling-4 {
    animation-name: moneyOneFalling;
    animation-direction: normal;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#money-falling-2 {
    animation-delay: 1s;
}

#money-falling-3 {
    animation-delay: 2s;
}

#money-falling-4 {
    animation-delay: 3s;
}

#money-falling-5 {
    animation-delay: 4s;
}

#money-falling-6 {
    animation-delay: 5s;
}

#money-falling-7 {
    animation-delay: 6s;
}

#coin-falling-1 {
    animation-delay: 1s;
}


#coin-falling-2 {
    animation-delay: 2s;
}

#coin-falling-3 {
    animation-delay: 3s;
}

#coin-falling-4 {
    animation-delay: 4s;
}




@keyframes moneyOneFalling {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(650px) rotate(90deg);
    }
}